<!-- #region New Note Form -->
<section>
    <div class="text-center pb-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noteModal">New Note</button>
    </div>
    <!-- #region Modal -->
    <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="noteModal">New Note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/user/create-note" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" name="title" required placeholder="Note title...">
                            <label for="title">Note Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="status" id="status" name="status">
                                <option value="public" selected>Public</option>
                                <option value="private">Private</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="form-floating pb-5">
                            <textarea class="form-control" required placeholder="Note body" id="body" name="body"
                                style="height: 100px"></textarea>
                            <label for="body">Note Body</label>
                        </div>
                        <button class="w-100 btn btn-primary text-center" type="submit">Save Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Modal -->
</section>
<!-- #endregion New Note Form -->

<!-- #region Public Notes -->
<main class="container">
    <div class="album py-5">
        <h2 class="display-5 fw-normal text-center mb-2">Public Notes</h2>
        <div class="container">
            <div class="row align-items-md-stretch">
                {{#each publicNotes}}
                <div class="col-md-6 p-2">
                    <div class="h-100 p-4 text-bg-dark rounded-3">
                        <h2>{{substr "30" title}}</h2>
                        <p>{{substr "150" body}}</p>
                        {{#isLongBody "150" body}} <a class="btn btn-outline-light" href="/notes/{{_id}}">Read More</a> {{/isLongBody}}
                        <a class="btn btn-outline-light float-end" style="background-color: {{randomColor}};" href="/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
<!-- #endregion Public Notes -->