<!-- #region New Note Form -->
<section>
    <div class="text-center pb-2">
        <button type="button" class="btn btn-primary pulsing-button" data-bs-toggle="modal"
            data-bs-target="#noteModal">Create Note</button>
    </div>
    <!-- #region Modal -->
    <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="noteModal">New Note</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/user/create-note" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" name="title" required
                                placeholder="Note title...">
                            <label for="title">Note Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="status" id="status" name="status">
                                <option value="public" selected>Public</option>
                                <option value="private">Private</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                        <div class="form-floating pb-5">
                            <textarea class="form-control" required placeholder="Note body" id="body" name="body"
                                style="height: 100px"></textarea>
                            <label for="body">Note Body</label>
                        </div>
                        <button class="w-100 btn btn-primary text-center" type="submit">Save Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Modal -->
</section>
<!-- #endregion New Note Form -->

<main class="container">
    <div class="container px-4 py-5" id="hanging-icons">
        {{!-- <h1 class="pb-4 border-bottom text-center">My Notes</h1> --}}
        {{#each notes}}
        <div class="navbar navbar-expand-lg bg-body-tertiary rounded border p-2 m-2">
            <div class="container-fluid">
                <div class="collapse navbar-collapse d-lg-flex my-notes">
                    <div class="d-lg-flex col-md-1">
                        <span class="{{#ifeq status " public"}} badge bg-success-subtle border border-success-subtle
                            text-success-emphasis {{else}} badge bg-danger-subtle border border-danger-subtle
                            text-danger-emphasis {{/ifeq}}">
                            {{#ifeq status "public"}} Public {{else}} Private {{/ifeq}}
                        </span>
                    </div>
                    <div class="d-lg-flex col-md-3">
                        <p class="text-left fw-semibold">{{substr "25" title}}</p>
                    </div>
                    <div class="d-lg-flex col-md-6">
                        <p class="text-left">{{substr "70" body}}</p>
                    </div>
                    <div class="d-lg-flex col-md-2 justify-content-lg-end">
                        <a href="/note/edit/{{_id}}" class="btn btn-warning fw-semibold">Edit</a>
                        <form action="/note/delete-note" method="POST">
                            <button type="submit" class="btn btn-danger fw-semibold ms-2 ps-2">Delete</button>
                            <input type="hidden" name="id" value="{{_id}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>